body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm373batch13-082-kpxk9ngk.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=842a60a88175778613f37f19a46cf861');

}
.header{
    display: flex;
    justify-content: space-around;
}
h1{
    text-decoration: underline;
}
.tab{
    border: 2px solid black;
    height: 30vh;
    width: 60vh;
    padding: 10px;
    display:flex;
    justify-content: space-between;
}
.head{
    border: 1px solid black;
    height: 90vh;
    width: 60vw;
    text-align: center;
    border-radius: 15px;
    background-color: azure;
}
input{
    height: 30px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}
h2{
    background-color: rgb(28, 28, 50);
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 50%;
    font-size: 20px;
}
button{
    padding: 10px;
    color: white;
    background-color: rgb(48, 121, 41);
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    transition: 1s;
}
button:hover{
    background-color: red;
    width: 180px;
    font-size: 20px;
    height: 50px;
    border-radius:20px ;
}

th{
    font-size: 20px;

}
tr input{
    margin-bottom: 10px;
    width: 200px;
}
.span span{
font-size: 20px;
font-weight: bold;
text-decoration: underline;
}
.span{
    margin-top: -260px;
    margin-right: -780px;
    /* background-color: rgb(142, 252, 252);
    box-shadow: 2px 2px 10px rgb(142, 252, 252);
    padding: 10px; */
    
    
}
.span:hover{

}
#remark{
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    
    
}
.input{
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-top: -2vh;
   
}
 .input p{
    height: 5vh;
    width: 15vw;
    border: 1px solid black;
    font-size: 25px;
    text-align: left;
   border-radius: 5px;
    margin-bottom: -1vh;
   font-weight: bold;
   padding-left: 10px;
   /* padding-top: 5px; */
   
}
.content h2{
    width: 150px;
    height: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}
